<!-- header.component.html-->
<nav class="navbar">
  <div class="nav-brand">
<img class="white-logo" src="../../assets/logos/disha-logo.png" alt="Disha Logo"> 
<img class="black-logo" src="../../assets/logos/disha-black-logo.png" alt="Disha Logo"> 
</div>
  <ul class="nav-links" [class.active]="menuOpen">
    <li [class.active]="currentSection === 'home'">
      <a href="#home" (click)="scrollToSection('home')">Home</a>
    </li>
    <li [class.active]="currentSection === 'about'">
      <a href="#about" (click)="scrollToSection('about')">About</a>
    </li>
    <li [class.active]="currentSection === 'feature'">
      <a href="#feature" (click)="scrollToSection('feature')">Features</a>
    </li>
    <li [class.active]="currentSection === 'floor'">
      <a href="#floor" (click)="scrollToSection('floor')">Floor Plans</a>
    </li>
    <li [class.active]="currentSection === 'location'">
      <a href="#location" (click)="scrollToSection('location')">Locations</a>
    </li>
    <li [class.active]="currentSection === 'contact'">
      <a href="#contact" (click)="scrollToSection('contact')">Contact</a>
    </li>
  </ul>
  <button class="nav-toggle" (click)="menuOpen = !menuOpen">
    <span class="material-icons">menu</span>
  </button>
  <!-- <button class="menu-close" (click)="menuOpen = false">
    <span class="material-icons">close</span>
  </button> -->
</nav>
