<section class="section s9">
    <div class="align">

      <div class="email">
        <span class="material-icons">email</span>
        <p>salesdpe&#64;dishahabitat.com</p>

      </div>
      <div class="phone">
        <span class="material-icons">call</span>
        <p>+91-9036180731</p>

      </div>
      <div class="address">
        <span class="material-icons">location_on</span>
        <p>Gunjur-Varthur Rd, Bangalore</p>
      </div>

    </div>
  </section>
  <section class=" section footer">
    <div class="align">
      <div class="policies">
        <a href="/privacy-policy" target="_blank">Privacy Policy</a>
        <a href="/term-of-use" target="_blank">Terms & Conditions</a>
        <a href="/cookie-policy" target="_blank">Cookie Policy</a>
        <img class="footer-image" src="../../assets/logos/disha-black-logo.png" alt="">

      </div>
      <a class="power" href="https://credvest.com/" target="_blank">Powered by Credvest India Private Limited</a>
    </div>
    
  </section>