<section class="section terms-of-use">
    <div class="align">
      <button (click)="goToHome()">
          <!-- <mat-icon>chevron_left</mat-icon>  -->
          Back
        </button>
     <h1 class="HelveticaNeue-Medium">Terms of Use
  </h1>
  <p class="Garamond-Regular">Welcome to Disha Habitat’s Carnival Living 
  
  </p>
  <p class="Garamond-Regular">By using our website, you agree to abide by these terms. We\’re thrilled to have you with us, but let\’s lay down some ground rules.
  
  </p>
  <ul>
      <li class="HelveticaNeue-Medium">Use of Content:
      </li>
      <p class="Garamond-Regular">All content on this website, including text, images, and designs, is the property of Carnival Living by Disha Habitat. Please enjoy it, but don\’t use it for anything other than personal or non-commercial purposes without our permission.
  
      </p>
      <li class="HelveticaNeue-Medium">User Conduct:
      </li>
      <p class="Garamond-Regular">Conduct yourself with decorum. Activities such as malicious intent, spamming, or any actions that may compromise the integrity of our website or infringe upon the experience of other users are strictly prohibited.
  
      </p>
      <li class="HelveticaNeue-Medium">Accuracy of Information:
      </li>
      <p class="Garamond-Regular">While we endeavor to maintain accuracy, human error may occur. We disclaim responsibility for any decisions made based on information derived from this website.
  
      </p>
      <li class="HelveticaNeue-Medium">Third-Party Links:
      </li>
      <p class="Garamond-Regular">This website may contain links to third-party websites. We relinquish control over their content and disclaim any responsibility for issues arising from interactions with these external sources.
  
      </p>
      <li class="HelveticaNeue-Medium">Privacy:
      </li>
      <p class="Garamond-Regular">Respecting your privacy is paramount. Kindly review our Privacy Policy to comprehend our approach to handling user data.
  
      </p>
      <li class="HelveticaNeue-Medium">Changes to Terms:
      </li>
      <p class="Garamond-Regular">We retain the right to modify these terms at our discretion. Regularly review this section to ensure ongoing alignment with your agreement.
  
      </p>
      <li class="HelveticaNeue-Medium">Termination:
      </li>
      <p class="Garamond-Regular">In instances of non-compliance with these terms, we reserve the right to terminate user access. 
      </p>
      <li class="HelveticaNeue-Medium">Contact Us:
      </li>
  
  </ul>
  <p class="Garamond-Regular">For inquiries or clarification, please direct your communication to +91 90361 80738
  
      Thank you for choosing Carnival Living by Disha Habitat</p>
    </div>
  </section>
  