
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dpe-primary: mat.define-palette(mat.$indigo-palette);
$dpe-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dpe-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dpe-theme: mat.define-light-theme((
  color: (
    primary: $dpe-primary,
    accent: $dpe-accent,
    warn: $dpe-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($dpe-theme);

/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.align{
    width: 80%;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


.s7{
    .carousel-control-next-icon, .carousel-control-prev-icon {
        filter: invert(1);
        height: 100px !important;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon{
        width: 100px !important;

    }

}
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "Archivo", sans-serif;
    font-style: normal;
}
.navbar{
    .material-icons{
        color: white;
    }
}



@media (max-width: 968px) {
    .align{
        width: 90% !important;
    }
    
}
@media (max-width: 500px) {
    .s7{
        .carousel-control-next {
            right: -28px;
        }
        .carousel-control-prev {
            left: -34px;
        }
    }
    
}