<!-- home.component.html -->
<div class="main">
  <app-header/>
  <section class="section s1" id="home">
    <div class="align">
      <h1 class="hero-text">Unlock Your Investment Potential Today!</h1>
      <div class="seperator"></div>
      <div class="text-icon">
        <img
          class="icon"
          src="../../assets/icons/yield-icon.png"
          alt="yield-icon"
        />
        <p>Yield: 6.8%*</p>
      </div>
      <div class="text-icon">
        <img
          class="icon"
          src="../../assets/icons/money-icon.png"
          alt="money-icon"
        />
        <p>₹59.9 Lakhs</p>
      </div>
      <div class="text-icon">
        <img
          class="icon"
          src="../../assets/icons/location-icon.png"
          alt="location-icon"
        />
        <p>Gunjur-Varthur Rd, Bangalore</p>
      </div>
      <button class="req-btn" (click)="openContactDialog()">Request Call Back</button>
    </div>
    <img
      class="hero-img"
      src="../../assets/images/Home-s1-bg-img.webp"
      alt="hero-img"
    />
    <img class="hero-img-mob" src="../../assets/images/hero-img-mob.jpg" alt="hero-img-mob">
  </section>
  <section class="section s2" >
    <div class="align">
      <div class="left">
        <h1 class="heading">Opportunity Closed</h1>
        <p class="heading2">Disha Pursuit of Sunshine </p>
        <p class="text-body">
          322 units  |   Sold in 6 months  | Appreciated by 120% 
        </p>
      </div>
      <!-- <div class="seperator" ></div> -->
      <div class="right">
        <h1 class="heading">Opportunity Open</h1>
        <p class="heading2">Pursuit of the Elements from the House of Disha</p>
        <p class="text-body">1 BHK Units | CAGR 50% YOY | 6.8% Rental Yield Potential
        </p>
        <p class="s-bold">
          If you didn't seize the opportunity before, its time to make your
          investment count, NOW!
        </p>
      </div>
    </div>
  </section>
  <section class="section s3" id="about">
    <div class="align">
      <h1 class="page-title">About the Project</h1>
      <p class="text">
        Invest in exclusive 1 BHK residences in Disha Habitat’s latest township
        project! Discover the Millenial Tower, tailored for your investment
        needs. Whether you’re a seasoned investor or a first-time buyer, these 1
        BHK residences are set to redefine the meaning of smart investing. Every
        amenity at your doorstep and every opportunity within reach, the stage
        is set for you to reap the rewards of a visionary investment choice. The
        overall project is set on a 20 acre land parcel with 7 Towers, 60 Villas
        and a 80K sq ft clubhouse.
      </p>


    </div>
  </section>
  <section class="section s4" >
    <div class="align">
      <div class="left">
        <img
          class="left-img"
          src="../../assets/images/s4-img.webp"
          alt="House Image"
        />
      </div>
      <div class="right">
        <h1 class="heading">Why Invest with Disha ? </h1>
        <ul class="ul">
          <li>
            Disha has a legacy of completing all their projects way before time. 
          </li>
          <li>
            Most of Disha’s projects are sold out within the first 6 months of launch.
          </li>
          <li>
            Disha’s projects are highly free from snags, due to International Quality Control.  
          </li>
          <li>Hassle-Free Ownership: Streamlined property management.</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section s5" >
    <div class="align">
      <h1 class="heading">The Opportunity</h1>
      <div class="first-row">
        <div class="tile">
          <h3 class="tile-heading">Seamless 
            NRI investment </h3>
          <ul>
            <li>Investment Size: 59.9 Lakhs </li>
            <!-- <li>77% owned by NRIs</li> -->
            <li>Payment Plan: 10-80-10 </li>
          </ul>
        </div>
        <div class="tile">
          <h3 class="tile-heading">Maximum Returns</h3>
          <ul>
            <li>Capitalize on lucrative investment opportunities</li>
            <li>Located in the IT corridor</li>
          </ul>
        </div>
      </div>
      <div class="sec-row">
        <div class="sec-left-tile">
          <h3 class="tile-heading">Specifications</h3>
          <ul>
            <li>Carpet Area  691 square ft </li>
            <!-- <li>RERA completion Date  December 2026 </li> -->
            <li>RERA Number <span class="act-no"> ACK/KA/RERA/1251/308 PR/150224/007869</span></li>
          </ul>
        </div>
        <div class="sec-tile-col">
          <div class="sec-tile-col-tile">
            <img src="../../assets/icons/amenities.png" alt="amenities" />
            <p style="text-align: center;">80+ <br />Amenities</p>
          </div>
          <div class="sec-tile-col-tile">
            <img src="../../assets/icons/car-logo.png" alt="amenities" />
            <p style="text-align: center;">Dedicated <br /> Car Park</p>
          </div>
          <div class="sec-tile-col-bottom-tile"></div>
        </div>
      </div>
      <div class="third-row">
        <div class="third-tile">
          <p>Sprawling 20 acre property</p>
        </div>
        <div class="third-tile">
          <p>Low Maintenance </p>
        </div>
        <div class="third-tile">
          <p>1200 residences</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section s6" id="feature">
    <div class="align">
      <h1 class="page-heading">Master Plan</h1>
      <div class="details">
        <div class="img-wrapper">
          <img
            src="../../assets/images/materPlan.jpg"
            alt="Master Plan Image"
          />
        </div>
        <div class="lists">
          <ol class="custom-list">
            <li *ngFor="let item of listItems">{{ item }}</li>
          </ol>
          <p class="cus-li">
            MASTERPLAN LANDSCAPE INTEND TO BE UPDATED AS PER THE REVISIONS
          </p>
        </div>
      </div>
      <div class="bottom">
        <img src="../../assets/logos/logo.svg" alt="" />
        <img
          class="direction"
          src="../../assets/icons/direction.png"
          alt="compass Icon"
        />
      </div>
    </div>
  </section>
  <section class="section s7" id="floor">
    <h1 class="page-title">Floor Plan</h1>

    <div class="align">
      <ngb-carousel [interval]="0">
        <!-- Slide 1 -->
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper slide1">
            <h2>MILLENNIUM TOWER</h2>
            <div class="tower">
              <div class="tower-map">
                <img class="map-img" src="../../assets/images/tower-map.jpg" alt="image 1" />
              </div>
              <div class="tower-key-plan">
                <img
                class="keyplan"
                  src="../../assets/images/tower-key-plan.jpg"
                  alt="key plan"
                />
                <img class="direction-icon" src="../../assets/icons/tower-plan-dir.jpg" alt="" />

                <!-- <img src="../../assets/icons/tower-keyplan-dir.jpg" alt=""> -->
              </div>
            </div>

          </div>
        </ng-template>

        <!-- Slide 2 -->
        <ng-template ngbSlide>
          <div class="custom-slide-layout slide2">
            <h2>UNIT PLANS</h2>
            <p>1 BHK WEST FACING</p>
            <p>SALEABLE AREA - 691(PER UNIT)</p>
            <div class="tower">
              <div class="tower-map">
                <img src="../../assets/images/unit-plan.jpg" alt="image 1" />
              </div>
              <div class="tower-key-plan">
                <div class="tp-img-txt">
                  <h2>TOWER PLAN</h2>
                  <img src="../../assets/images/slide-2-tower-plan.jpg" alt="image 1" />
                </div>
                <div class="kp-img-text">
                  <h2>KEY PLAN</h2>
                  <img
                    src="../../assets/images/slide2keyplan.png"
                    alt="key plan"
                  />
                </div>
                <img class="key-dir-icon" src="../../assets/icons/tower-keyplan-dir.jpg" alt="">
              </div>
            </div>
          </div>
        </ng-template>

        <!-- Slide 3 -->
        <ng-template ngbSlide>
          <div class="custom-slide-layout slide2">
            <h2>UNIT PLANS</h2>
            <p>1 BHK WEST FACING</p>
            <p>SALEABLE AREA - 691(PER UNIT)</p>
            <div class="tower">
              <div class="tower-map">
                <img src="../../assets/images/slide3-unit-plan.jpg" alt="image 1" />
              </div>
              <div class="tower-key-plan">
                <div class="tp-img-txt">
                  <h2>TOWER PLAN</h2>
                  <img src="../../assets/images/slide3towermap.png"  alt="image 1" />
                </div>
                <div class="kp-img-text">
                  <h2>KEY PLAN</h2>
                  <img
                    src="../../assets/images/slide2keyplan.png"
                    alt="key plan"
                  />
                </div>
                <img class="key-dir-icon" src="../../assets/icons/tower-keyplan-dir.jpg" alt="">
              </div>
            </div>
          </div>
        </ng-template>

        <!-- Add more slides as needed, each with its unique content and structure -->
      </ngb-carousel>
      <!-- <div class="logo-container"><img class="logo" src="../../assets/logos/logo.svg" alt="logo"></div> -->
      <p class="tower-dis">
        Disclaimer: Contents of this document are for information purposes only. All plans, elevations and views are for representation only. Dimensions and areas are indicative and may vary as per sanction plan/agreement post RERA approval.
      </p>
    </div>
  </section>
  <section class="section s8" id="location">
    <div class="align">
      <div class="map">
        <iframe
          width="100%"
          height="450"
          style="border:0"
          loading="lazy"
          allowfullscreen
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.8007009627527!2d77.7537014!3d12.9205273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae0d245fec33d7%3A0x9b08a1262142c9a8!2sDisha%20Pursuit%20Of%20The%20Elements!5e0!3m2!1sen!2sin!4v1709037160012!5m2!1sen!2sin">
        </iframe>
      </div>
    </div>
  </section>
  <app-contact-us id="contact"/>
  <app-footer/>
</div>
